name: Run Selenium Tests with Selenoid

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Start Selenoid + UI via Docker Compose
        run: |
          # verificăm că fișierul există
          if [ ! -f selenoid/docker-compose.yml ]; then
            echo "selenoid/docker-compose.yml not found!"
            exit 1
          fi
          docker compose -f selenoid/docker-compose.yml up -d
          sleep 10
          docker ps -a

      - name: Run tests
        run: mvn -B test

      - name: Upload test videos
        uses: actions/upload-artifact@v4
        with:
          name: selenium-videos
          path: ./video
